<app-nav-bar></app-nav-bar>
<div class="page-header">
  <h1>Welcome to Airfordable.com
   <br/><small>We help you make payment plans for airline tickets in advance.</small></h1>
<div>

</div>
<h1>{{message}}</h1>