<!DOCTYPE html>
<html lang="en" ng-app="airfordableApp">
<head>
<meta charset="utf-8">
<base href="/">
<title>Airfordable.com</title>
<link rel='stylesheet' href='/bootstrap/dist/css/bootstrap.css'/>
<link rel='stylesheet' href='/bootstrap/dist/css/bootstrap-theme.css'/>
<link rel='stylesheet' href='/angular/angular-csp.css'/>
<link rel='stylesheet' href='/stylesheets/style.css'/>
<script src='/jquery/dist/jquery.min.js'></script>
<script src='/bootstrap/dist/js/bootstrap.js'></script>
<script src='/angular/angular.js'></script>
<script src='/angular-route/angular-route.js'></script>
<script src='/javascripts/app.js'></script>
</head>
