<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Hey there! <%= user %></h1>
    <p>Welcome to <%= express %></p>
  </body>
</html>